# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/twmtests
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-d7f1fc71598550e15c4b.json
build/.cmake/api/v1/reply/cmakeFiles-v1-4f949dcbce773e8db4b6.json
build/.cmake/api/v1/reply/codemodel-v2-7d4f9bd0cdac28e0355c.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-11-10T12-08-01-0555.json
build/.cmake/api/v1/reply/target-twmtests-Debug-526ca5fa7a2b4c47d3f6.json
build/.cmake/api/v1/reply/toolchains-v1-c4115b2f73c506756f69.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.7/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.7/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.7/CMakeSystem.cmake
build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
